<div class="containerDroite">
    <h3 class="text-center text-primary">Accueil</h3>
    <p>Le camping « Campong » est ouvert toute l’année et vous propose la location d’emplacement, de mobil-home ou de chalet 7 jours/7.</p>
    <p>Géré par Jean-Sébastien Courtevelle, Campong est reconnu par Bison futé.</p>
    <p>Entouré de paysages magnifiques, venez découvrir la région de Potandfamilie.</p>
    <div id="cadreExtPhotoAccueil">
        <div class="cadreIntPhoto">
            <img src="../Images/piscineAccueil.jpg" />
        </div>
    </div>
    <div class="cadreExtInfo">
        <div class="cadreIntInfo">
            <p class="infoAccueil">Campong – 087/12.25.15 (téléphone) -  087/12.25.16 (fax) – campong@primuscoin.brg</p>
            <p class="infoAccueil">Rue du jardin de Seive, 7, 3209 Primuscoin</p>
        </div>
    </div>
</div>
