<div class="containerDroite">
    <h3 class="text-center text-primary">Animations</h3>
    <p>Chez Campong, vous retrouvez une ambiance familiale. L’équipe d’animateurs se met en quatre pour vous offrir des activités hors du commun. Les activités sont adaptées à toutes les tranches d’âge.</p>
    <p>Une fois par semaine, l’équipe organise des parties de paint-ball, des blind-tests, des tournois de pétanque, des soirées à thème, des parcours d’accrobranches,  randonnées kayak, pédestres et cyclistes, des soirées karaoké, …</p>
    <div id="cadreExtPhotoAnimation">
        <div id="cadreIntPhotoAnimation">
            <img src="../Images/accrobranche.jpg" /><img src="../Images/petanque2.jpg" /><img src="../Images/karaoke.jpg" /><br />
            <img src="../Images/soireeDansante.jpg" /><img src="../Images/piscine.jpg" /><img src="../Images/pingPong.jpg" />
        </div>
    </div>
    <p>En plus des animations quotidiennes et de l’infrastructure de la piscine, vous pourrez profiter des divers terrains de pétanque, tables de ping-pong, terrains de tennis,… </p>
    <div class="cadreExtInfo">
        <div class="cadreIntInfo">
            <p class="infoAccueil">Campong – 087/12.25.15 (téléphone) -  087/12.25.16 (fax) – campong@primuscoin.brg</p>
            <p class="infoAccueil">Rue du jardin de Seive, 7, 3209 Primuscoin</p>
        </div>
    </div>
</div>
