<div class="containerDroite">
    <h3 class="text-center text-primary">Découvrir</h3>
    <div class="cadreExtPhotoGauche">
        <div class="cadreIntPhoto">
            <img id="imgDecouvrirFalaise" src="../Images/falaise.jpg" />
        </div>
    </div>
    <p id="pDecouvrirFalaise">Partez découvrir la richesse de cette magnifique région dont Jacques Courtevelles et Lan Lan sont tombés amoureux il y a presque 70 ans. En plus des paysages à vous couper le souffle, la Potandfamilie regorge de nombreuses richesses.</p>

    <div class="cadreExtPhotoDroite">
        <div class="cadreIntPhoto">
            <img id="imgDecouvrirPont" src="../Images/pont.jpg" />
        </div>
    </div>
    <p id="pDecouvrirPont">Vous pourrez notamment admirer le mythique Pont du Pong en pierres de Chine ainsi que sa cascade du Mandarin à quelques kilomètres du camping.</p>

    <div class="cadreExtPhotoGauche">
        <div class="cadreIntPhoto">
            <img id="imgDecouvrirJardinChinois" src="../Images/jardinChinois.jpg" />
        </div>
    </div>
    <p id="pDecouvrirJardinChinois">N’hésitez pas non plus à passer les portes du jardin du Seive. Vous apercevrez peut-être son jardinier, Jean-Michel, occupé à soigner les cerisiers du Japon.</p>

    <div class="cadreExtPhotoDroite">
        <div class="cadreIntPhoto">
            <img id="imgDecouvrirSkiNautique" src="../Images/skiNautique.gif" />
        </div>
    </div>
    <p id="pDecouvrirSkiNautique">Pour les sportifs, aux alentours du camping plusieurs compagnies de location de canoës, kayaks, vous proposent des stages d’une journée de rafting, kayak, ski-nautiques,…</p>

    <div class="cadreExtPhotoGauche">
        <div class="cadreIntPhoto">
            <img id="imgDecouvrirCuveBrasserie" src="../Images/cuveBrasserie.jpg" />
        </div>
    </div>
    <p id="pDecouvrirCuveBrasserie">Enfin, au centre de la ville de Primuscoin, profitez de votre visite à la Brasserie « A ta santé » pour  déguster les différentes bières régionales fabriquées sur place.</p>
    <div class="cadreExtInfo">
        <div class="cadreIntInfo">
            <p class="infoAccueil">Campong – 087/12.25.15 (téléphone) -  087/12.25.16 (fax) – campong@primuscoin.brg</p>
            <p class="infoAccueil">Rue du jardin de Seive, 7, 3209 Primuscoin</p>
        </div>
    </div>
</div>