<div class="containerDroite">
    <h3 class="text-center text-primary">Historique</h3>
    <div class="cadreExtPhotoGauche">
        <div class="cadreIntPhoto">
            <img id="imgHistoriqueCouple" src="../Images/coupleChinois.jpg" />
        </div>
    </div>
    <p>C’est en 1946 que Jacques Courtevelles et Lan Lan se sont installés à Primuscoin. Tombés sous le charme de cette magnifique région  durant la guerre, ils décident de créer un camping.</p>
    <p>Depuis, ils ont tout mis en œuvre pour que chacun s’y sente chez soi. En effet, le mélange de cultures dans leur couple apporte un climat particulièrement agréable et familial.</p>
    <div class="cadreExtPhotoDroite">
        <div class="cadreIntPhoto">
            <img id="imgHistoriqueFils" src="../Images/filsChinois.jpg" />
        </div>
    </div>
    <p>Dès 1960, l’équipe s’agrandit et le camping prend de l’ampleur. Mais c’est réellement en 1985, quand leur fils Jean-Sébastien prend la relève, que Campong connait un souffle nouveau.</p>
    <p>En effet, Jean-Sébastien met sur pied diverses animations et organise de nombreux concerts et spectacles avec des célébrités. C’est par ailleurs les illustres « Inconnus » qui se sont produits pour les 60 ans du camping en 2006.</p>
    <p>
        Réservez d’ores et déjà  pour 2016, car l’équipe de Campong recevra en Guest Star Mika, à l’occasion du 70e anniversaire du Camping.<br />
        A bientôt,
    </p>
    <div id="cadreExtPhotoAnimateurs">
        <div class="cadreIntPhoto">
            <img id="imgHistoriqueAnimateurs" src="../Images/animateurs.jpg" />
        </div>
    </div>
    <div class="cadreExtInfo">
        <div class="cadreIntInfo">
            <p class="infoAccueil">Campong – 087/12.25.15 (téléphone) -  087/12.25.16 (fax) – campong@primuscoin.brg</p>
            <p class="infoAccueil">Rue du jardin de Seive, 7, 3209 Primuscoin</p>
        </div>
    </div>
</div>
