<div class="containerDroite">
    <h3 class="text-center text-primary">Inscription</h3>
    <div id="cadreExtInscription">
        <div id="cadreIntInscription">
            <form>
                <label>Nom : </label><input class="inputInscription" type="text" ng-model="nom" /><br />
                <label>Prenom : </label><input class="inputInscription" type="text" ng-model="prenom" /><br />
                <label>Adresse mail : </label><input class="inputInscription" type="email" ng-model="adresseMail" /><br />
                <label>Adresse postale :</label><input class="inputInscription" type="text" ng-model="adressePostale" /><br />
                <label>Numéro de téléphone : </label><input class="inputInscription" type="number" ng-model="numeroTel" /><br />
                <label>Date de naissance : </label><input class="inputInscription" type="date" ng-model="dateNaissance" /><br />
                <label>Mot de passe : </label><input class="inputInscription" type="password" ng-model="mdp" /><br />

            </form>
            <a id="btnFormulaireInscription" class="btn btn-success" ng-click="btnInscription()">S'inscrire</a>
        </div>
    </div>
</div>