<div class="containerDroite">
    <h3 class="text-center text-primary">Tarif des différents emplacements</h3>
    <div class="cadreExtTable">
        <div class="cadreIntTable">
            <table class="table table-striped">
                <tr>
                    <td class="enteteTable">Type</td>
                    <td class="enteteTable tireTableEntete">Surface <br /> m²</td>
                    <td class="enteteTable tireTableEntete">Nombre de Places</td>
                    <td class="enteteTable tireTableEntete">Prix de base <br /> €/jour</td>
                    <td class="enteteTable tireTableEntete">Prix Enfant supplémentaire <br />€/pers</td>
                    <td class="enteteTable tireTableEntete">Prix Adulte supplémentaire <br /> €/pers</td>
                    <td class="enteteTable tireTableEntete">Prix d'un véhicule <br />€/voiture</td>
                    <td class="enteteTable tireTableEntete">Prix de l'électricité <br />€/jour</td>
                </tr>
                <tr ng-repeat="emplacement in emplacements">

                    <td align="center">{{emplacement.Type}}</td>
                    <td class="tireTableContenu">{{emplacement.Surface}}</td>
                    <td class="tireTableContenu">{{emplacement.NbPlaces}}</td>
                    <td class="tireTableContenu">{{emplacement.PrixBase}}</td>
                    <td class="tireTableContenu">{{emplacement.PrixEnfSup}}</td>
                    <td class="tireTableContenu">{{emplacement.PrixAdultSup}}</td>
                    <td class="tireTableContenu">{{emplacement.PrixVehicule}}</td>
                    <td class="tireTableContenu">{{emplacement.PrixElectricite}}</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="cadreExtInfo">
        <div class="cadreIntInfo">
            <p class="infoAccueil">Campong – 087/12.25.15 (téléphone) -  087/12.25.16 (fax) – campong@primuscoin.brg</p>
            <p class="infoAccueil">Rue du jardin de Seive, 7, 3209 Primuscoin</p>
        </div>
    </div>
</div>